// Variables
// -----------------
// colors
// default colors
$color-white: #FDFDFD;
$color-black: #000000;
// special colors
$color-dark-purple: #41264D;
$color-light-purple: #5B356D;
$color-gray: #EDEDED;
$color-gray-light: #D5D5D5;
$color-black-light: #404040;
